block vars
html
  head
    meta(charset="UTF-8")
    title=meta.title
    meta(name="keywords",content=meta.keywords)
    meta(name="description",content=meta.description)
    block header
  body
    #app
      block content
    block js
