{
    "presets": [
      "es2015",
      "vue",
      "stage-2"
    ],
    "plugins": ["transform-decorators-legacy"],
    "env": {
        "development": {
        },
        "production": {
          "plugins": ["transform-runtime"],
        },
        "staging": {
          "plugins": ["transform-runtime"],
        }
    }
}
